<form [formGroup]="templesForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Temples</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Location" formControlName="location">
            <mat-error *ngIf="templesForm.controls['location'].hasError('required')">
              Location <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="templesForm.controls['location'].hasError('minlength')">
              The minimum size is <strong>3</strong>
            </mat-error>
            <mat-error *ngIf="templesForm.controls['location'].hasError('maxlength')">
              The maximum size is <strong>14</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Builders" formControlName="builders">
            <mat-error *ngIf="templesForm.controls['builders'].hasError('required')">
              Builders <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="templesForm.controls['builders'].hasError('minlength')">
              The minimum size is <strong>3</strong>
            </mat-error>
            <mat-error *ngIf="templesForm.controls['builders'].hasError('maxlength')">
              The maximum size is <strong>14</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
